{% extends 'base.html.twig' %}

{% block title %}Détails du Paiement{% endblock %}


{% block body %}
<div class="container py-4">
    <h1>Détails du Paiement n°{{ paiement.id }}</h1>

    <p><strong>Date de Paiement :</strong> {{ paiement.datePaiement|date('d/m/Y H:i') }}</p>
    <p><strong>Montant :</strong> {{ paiement.montant }} €</p>
    <p><strong>Status :</strong> {{ paiement.status }}</p>
    <p><strong>Réservation :</strong> #{{ paiement.reservation.id }}</p>

    <a href="{{ path('app_paiement_index') }}" class="btn btn-secondary">Retour à la liste des paiements</a>
</div>
{% endblock %}


